<h1 class="lead">{{homeData.Id}}</h1>

<div class="well">

  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="span2">Rum</th>
            <th class="span2">Temperatur</th>
            <th class="span1">Luftfuktighet</th>
        </tr>
    </thead>
      <tbody>
        <tr ng-repeat="room in homeData.Rooms">
            <td class="text-center">{{room.Name}}</td>
            <td class="text-center">{{room.Temperature}}</td>
            <td class="text-center">{{room.Humidity}}</td>
        </tr>
    </tbody>
  </table>
</div>